.navbar {
  background: #FFCD2D;
  backface-visibility: hidden;
  box-shadow: 0 2px 5px 1px rgba(51, 51, 51, 0.5);
}

.navbar-nav .nav-item {
  font-weight: bold;
}

.navbar button.navbar-toggler {
  border-color: #FFCD2D !important;
}

.navbar-brand img {
  width: 55px;
}

.navbar-light .navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #212529;
  transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar-light .navbar-toggler:hover span,
.navbar-light .navbar-toggler:focus span {
  background: #212529;
}

.navbar-light .navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

.navbar-light .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

.navbar-light .navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-light .navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}

@media (max-width:768px) {
  .navbar-light .navbar-collapse {
    height: 100vh;
  }
}

/*intro*/
.intro {
  background: url('img/accomplishment-ceremony-education-graduation-267885.jpg') center/cover fixed no-repeat;
  height: calc(100vh - 81px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
}

@media (max-width:600px) {
  .content h1 {
    font-size: 4rem;
  }
}

/*cards*/
.input-checkbox,
.label-checkbox {
  cursor: pointer;
}

.red-hover:hover {
  background: #bd2130;
}

.bg-yellow {
  background: #FFCD2D;
}

.main .list .academy {
  cursor: pointer;
  transition: all .5s ease;
}

.main .container-fluid img {
  width: 100%
}

.subtitle {
  padding-top: 60px;
  padding-bottom: 60px;
}

a.card {
  color: black;
}

a.card:hover {
  text-decoration: none;
  color: black;
}

.card-body p:first-of-type {
  background-color: #FFCD2D;
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
}

.card-body p.card-title {
  font-size: 18px;
  line-height: 1.3em;
}

.card-body p.card-text {
  font-size: 13px;
}

.card-body p:last-of-type {
  font-size: 11px;
}

.card {
  border-radius: 18px !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
  transition: 0.5s ease;
}

.card img {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

@media (max-width:768px) {
  .card:hover {
    transform: scale(1);
  }
}

#load-more {
  display: none;
}

#load-more button {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

@media (max-width: 425px) {
  .academy {
    display: none;
  }

  .academy:nth-of-type(1),
  .academy:nth-of-type(2),
  .academy:nth-of-type(3),
  .academy:nth-of-type(4),
  .academy:nth-of-type(5),
  .academy:nth-of-type(6) {
    display: inline-block;
  }

  #load-more {
    display: block;
  }
}

/*input*/
.subtitle-inpute {
  padding-top: 160px;
}

.subtitle h2,
.subtitle-inpute h2 {
  font-size: 60px;
  font-weight: bolder;
}

.form-margin {
  margin-bottom: 160px;
  margin-top: 160px;
}

.form-row .input input {
  color: black;
  border: 0;
  padding: 22px 15px !important;
}

::placeholder {
  color: lightgrey !important;
  font-style: italic;
}

.dropdown-divider {
  margin: .2rem 0 !important;
}

.dropdown-item {
  padding: .20rem 1.5rem !important;
}

.dropdown .btn,
.form-row .input button {
  padding: 10px 15px;
}

/* No CSS */
/*# sourceMappingURL=style.css.map */
